@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap');

body{
    font-family: 'Inria Sans', sans-serif;
    margin: 0;
}
/**/

/*Padronização da Página*/
.container{
    display: flex;
    margin: auto;
    width: 90%;
}
.bttLink{
    border: 1px solid #21292A;
    padding: 12px;
    transition-duration: 1.2ms;
    background-color: #F0BF3A;
}
.bttLink:hover{
    background-color: #ECEBF3;
}

/*Início do Header*/
.header{
    flex-direction: row;
    background-color: #ECEBF3;
}
.header .container{
    align-items: center;
    justify-content: space-between;
}
.header .container img{
    width: 85px;
    height: 85px;
}
.navBar{
    list-style: none;
    width: 430px;
    display: flex;
    justify-content: space-around;
}
.navBar a{
    color: #21292A;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

/*Final do Header*/

/*Footer*/

.footer {
    border-top: #21292A solid 2px;
    background-color: #ECEBF3;
    height: 280px;
}

.footer .container {
    justify-content: space-around;
}

.footer .card {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer .card h1 {
    color: #F0BF3A;
    margin-bottom: 45px;
    text-shadow: 2px 0 #21292A, -2px 0 #21292A, 0 2px #21292A, 0 -2px #21292A,
    1px 1px #21292A, -1px -1px #21292A, 1px -1px #21292A, -1px 1px #21292A; 
}

/* 
.footer .logo span{ 
    color: #21292A;
    margin: 0;
} */

.footer p {
    margin: 7px;
}

.footer #top {
    margin-top: 20px;
}

.footer span {
    margin: 15px;
}

.footer a {
    text-decoration: none;
    color: #000000;
    margin: 7px;
}

/* Início do Banner1 */
.banner1 {
    background-image: url("../img/apicultura.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 820px;
    background-position: 100%;
    border-bottom: #000000 solid 2px;
}

.banner1 .container {
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.banner1 p {
    text-align: center;
    font-size: 65px;
    color: #ECEBF3;
    font-weight: bold;
    width: 30%;
}
/* Final do Banner1 */

/* Início do Banner2 */
.banner2 {
    background-color: #21292A;
    height: 820px;
}

.banner2 .container {
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.banner2 .texto {
    width: 20%;
}

.banner2 .logo {
    background-color: #ECEBF3;
    border-radius: 80px;
}

.banner2 h1 {
    color: #F0BF3A;
    font-size: 50px;
    width: 110%;
}

.banner2 p {
    font-size: 45px;
    text-align: center;
    width: 125%;
    color: #ECEBF3;
}

.banner2 .container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Final do Banner2 */