@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap');

body {
  background-color: #21292A;
  margin: 0px;

}

.menu {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  background-color: #ECEBF3;

}

.menu img {
  height: 100px;


}

.menu .box {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: end;
  align-items: center;


}

/* .menu .box li{
  list-style: none;
  font-family: 'Inria Sans';
}

.menu .box .drop{
  display: flex;

}

.menu .box ul img{

  height: 90px;

}

.menu .box .drop {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  margin-right: 20px;
  padding: 10px;

}


.drop li{

  border: 1px solid;


} */

#limite {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  flex-direction: column;

}

#limite .alinhamento {
  display: flex;
  margin-top: 20px;

}

#limite #emergencia {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D9D9D9;
  color: #D54141;
  border: solid #D54141 5px;
  font: 'Inria Sans';
  width: 45%;
  height: 180px;
  margin: auto;


}

#limite p{
  color: #21292A;
  font-size: 30px;
  font-weight: bold;

}


#limite #risco {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d9d9d9f0;
  color: #ffbb00;
  border: solid #F0BF3A 5px;
  font: 'Inria Sans';
  width: 45%;
  height: 180px;
  margin: auto;

}

#limite #estavel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D9D9D9;
  color: #0A7B30;
  border: solid #0A7B30 5px;
  font: 'Inria Sans';
  width: 45%;
  height: 180px;
  margin: auto;

}

#limite #total {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D9D9D9;
  font: 'Inria Sans';
  width: 45%;
  height: 180px;
  margin: auto;

}



#limite #total .alinhamento{
  margin: 0%;
  width: 100%;
  height: 100%;
  justify-content: center;
  
}

#limite #umidade .alinhamento{
  margin: 0%;
  width: 100%;
  height: 100%;
  justify-content: center;
  
}

#limite #temperatura .alinhamento{
  margin: 0%;
  width: 100%;
  height: 100%;
  justify-content: center;
  
}

#limite #total .icon{
  display: flex;
  width: 100%;
  justify-content:center;

}

#limite #total img{
  height: 40px;
  
}

#limite #umidade {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D9D9D9;
  font: 'Inria Sans';
  width: 45%;
  height: 360px;
  margin: auto;

}

#limite #temperatura {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D9D9D9;
  font: 'Inria Sans';
  width: 45%;
  height: 360px;
  margin: auto;

}